@forward './fonts';
@forward './cdn';
@forward './varibles';
@forward './mixins';
@forward './main/main';
@forward './footer';

* {
  text-decoration: none;
  margin: 0;
  padding: 0;
  list-style: none;
  box-sizing: border-box;
}

html {
  font-family: 'Raleway', sans-serif;
}

.container {
  max-width: 1170px;
  padding: 0 15px;
  background-color: transparent;
  margin: auto;
}
